<div class="card">

  <div class="card-header">
    {{!-- render post information --}}
    <h4><a class="post-title" href="/post/{{id}}">{{title}}</a></h4>
      <p class="user-info">Posted by {{user.username}} on {{format_date date_created}}</p>
  </div>

  <p class="card-body">{{post_content}}</p>
  
</div>

<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-group font-weight-bold">Comments</label>

          {{!-- render each comment --}}
          {{#each comments as |comment| }}
          <div class="card">
            <section class="comment card-body">
                <div class="text">
                    {{comment.comment_content}}
                </div>
                <br>
                <p class="user-info">Commented by {{user.username}} on {{format_date date_created}}</p>
            </section>
          </div>
          {{/each}}

        <br>
        <br>
        <input id="comment" name="comment-body" class="form-control"/>

        <button type="submit" class="btn btn-primary mt-3">Submit a Comment</button>
    </form>
  

</div>


{{> comments post.comments}}


<script src="/js/comment.js"></script>
